body {
	background-color: #fff;
	color: #212121;
	font-family: "Roboto", sans-serif;
}

.top-menu {
	display: block;
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
}

.logo-web {
	color: #2196f3;
}

.list {
	list-style: none;
}

a {
	color: #212121;
	text-decoration: none;
}

a:hover {
	color: #2196f3;
}

button {
	cursor: pointer;
	background: #f5f4fa;
	border-radius: 4px;
	padding: 6px 22px;
	border: none;
}

button:hover {
	background-color: #2196f3;
	color: #fff;
}

.site-nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
}

.contact-nav .link {
	color: #757575;
}

.features-title {
	color: #fff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
}

.facts-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.facts-list .text {
	color: #757575;
	font-size: 14px;
	line-height: 1.7;
}

.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
}

.team-list .name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
}
.team-list .prof {
	color: #757575;
	font-size: 16px;
	line-height: 1.9;
}

.card-filter li {
	display: inline-block;
}

address {
	font-style: normal;
}
