body {
	background-color: #fff;
	color: #212121;
	font-family: "Roboto", sans-serif;
}

.top-menu {
	display: block;
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
}

.logo-web {
	color: #2196f3;
}

.list {
	list-style: none;
}

a {
	color: #212121;
	text-decoration: none;
}

a:hover {
	color: #2196f3;
}

.features-btn {
	cursor: pointer;
	background: #f5f4fa;
	border-radius: 4px;
	padding: 6px 22px;
	border: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}

button:hover {
	background-color: #2196f3;
	color: #fff;
}

.site-nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.contact-nav .link {
	color: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
}
.contact-nav .link:hover {
	color: #2196f3;
}

footer .contact-nav .link {
	color: rgba(255, 255, 255, 0.6);
}

.features-title {
	color: #fff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.facts-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.facts-list .text {
	color: #757575;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-list .name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}
.team-list .prof {
	color: #757575;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}

.btn-filter {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	border: none;
	font-family: "Roboto";
	font-style: normal;
	align-items: center;
	background: #f5f5f5;
	border-radius: 4px;
	padding: 6px 22px;
}

address {
	font-style: normal;
}
.map-nav {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	color: #ffffff;
}

.name-card {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
}
.name-description {
	font-style: normal;
	font-size: 16px;
	line-height: 1.9;
	color: #757575;
}

.card-filter li {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
}
