/*prettier-ignore*/
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
	background-color: #fff;
	color: #212121;
	font-family: "Roboto", sans-serif;
}

.logo-blue {
	color: #2196f3;
}

.logo-white {
	color: #fff;
}

.list {
	list-style: none;
}

.img-block {
	display: block;
	max-width: 100%;
	height: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.contact-icon {
	fill: currentColor;
	margin-right: 10px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

/* region Top-bar */
.top-bar {
	border-bottom: 1px solid #ececec;
}
.top-bar-container {
	display: flex;
	align-items: center;
	height: 80px;
}

.top-bar-logo {
	text-decoration: none;
	color: #000;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	margin-right: 93px;
}

.top-bar-nav {
	display: flex;
}

.top-bar-nav-list {
	display: flex;
	gap: 50px;
}

.top-bar-nav-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.top-bar-link {
	padding: 32px 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212121;
	text-decoration: none;
}

.top-bar-link.current::after {
	content: "";
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 4px;
	background-color: #2196f3;
}

.top-bar-link:hover,
.top-bar-link:focus {
	color: #2196f3;
}

.top-bar-contact-list {
	display: flex;
	gap: 50px;
	margin-left: auto;
}

.top-bar-contact-link {
	color: #757575;
	font-size: 14px;
}
/*endregion*/

/* region Banner */
.banner {
	padding: 200px 0;
	text-align: center;
	background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/banner-img.jpeg") no-repeat center;
	background-size: cover;
	max-width: 1600px;
	margin: 0 auto;
}

.banner-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.banner-title {
	width: 700px;
	color: #fff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
}

.banner-btn {
	cursor: pointer;
	padding: 10px 32px;
	border: none;
	background: #2196f3;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	line-height: 1.9;
	letter-spacing: 0.06em;
	color: #fff;
}
/* endregion */

/* region Feature */
.feature {
	padding-bottom: 0;
}

.feature-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.feature-item {
	flex-basis: calc((100% - 30px * 3) / 4);
}

.feature-item::before {
	display: block;
	content: "";
	height: 120px;
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f4fa;
	margin-bottom: 30px;
	border-radius: 4px;
}

.feature-icon-antenna::before {
	background-image: url("../images/feature/antenna.svg");
}

.feature-icon-clock::before {
	background-image: url("../images/feature/clock.svg");
}

.feature-icon-diagram::before {
	background-image: url("../images/feature/diagrams.svg");
}

.feature-icon-astronaut::before {
	background-image: url("../images/feature/astronaut.svg");
}

.feature-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.feature-description {
	color: #757575;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
/* endregion */

/* region Work */
.work-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.work-item {
	flex-basis: calc((100% - 30px * 2) / 3);
	position: relative;
}

.work-overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(47, 48, 58, 0.8);
	padding: 27px 0;
}

.work-overlay-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
}

.work-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}
/* endregion */

/* region Team */
.team {
	background: #f5f4fa;
}

.team-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.team-item {
	flex-basis: calc((100% - 30px * 3) / 4);
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 4px 4px;
}

.team-list .name {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
}

.team-list .prof {
	color: #757575;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	margin-bottom: 16px;
}

.team-wrapper {
	padding: 30px 0;
	text-align: center;
}

.team-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.team-socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 44px;
	color: #afb1b8;
}

.team-socials-link:hover,
.team-socials-link:focus {
	border-radius: 50%;
	background-color: #2196f3;
	color: #fff;
}

.team-socials-icon {
	fill: currentColor;
}
/* endregion */

/* region Clients */
.clients-list {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.clients-link {
	width: 170px;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	color: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
	border-color: #2196f3;
	color: #2196f3;
}

.clients-icon {
	fill: currentColor;
}
/* endregion */

/* region Portfolio */

.backdrop {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: scale(2);
}

.modal {
	position: relative;
	width: 528px;
	height: 581px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 20%);
	border-radius: 4px;
	transform: scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: transparent;
	top: 8px;
	right: 8px;
	cursor: pointer;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-list {
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

.portfolio-filter-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
}

.portfolio-filter-btn {
	cursor: pointer;
	background: #f5f4fa;
	border-radius: 4px;
	padding: 6px 22px;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.03em;
	border: none;
	font-family: "Roboto";
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
	background-color: #2196f3;
	color: #fff;
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-item {
	flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio-item:hover,
.portfolio-item:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-overlay {
	transform: translateY(0);
	opacity: 1;
}

.portfolio-link {
	color: #212121;
	text-decoration: none;
}

.portfolio-thumb {
	position: relative;
	overflow: hidden;
}

.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
	padding: 63px 24px;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	color: #fff;
}

/*.portfolio-thumb:hover::before {*/
/*	opacity: 1;*/
/*	transform: translateY(0);*/
/*}*/

/*.portfolio-thumb::before {*/
/*	content: "";*/
/*	position: absolute;*/
/*	display: inline-block;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	background-color: rgba(33, 150, 243, 0.9);*/
/*	opacity: 0;*/
/*	transform: translateY(100%);*/
/*}*/

.portfolio-wrapper {
	padding: 20px 24px;
	border: 1px solid #eee;
	border-top: none;
}

.portfolio-item-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
}

.portfolio-item-description {
	font-style: normal;
	font-size: 16px;
	line-height: 1.9;
	color: #757575;
}
/* endregion */

/* region Footer */
.footer {
	padding: 60px 0;
	background: #2f303a;
}

.footer-container {
	display: flex;
	align-items: baseline;
}

.footer-logo {
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
}

.footer-contact {
	margin-right: 70px;
}

.footer-contact-list {
	font-style: normal;
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.footer-contact-link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.7;
}

.footer-map-link {
	text-decoration: none;
	font-size: 14px;
	line-height: 1.7;
	color: #fff;
}

.footer-social-title {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.footer-social-link {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	fill: #fff;
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: #2196f3;
}

/* endregion */
