/*prettier-ignore*/
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
	background-color: #fff;
	color: #212121;
	font-family: "Roboto", sans-serif;
}

.logo-blue {
	color: #2196f3;
}

.logo-white {
	color: #fff;
}

.list {
	list-style: none;
}

a {
	color: #212121;
	text-decoration: none;
}

a:hover {
	color: #2196f3;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* region Top-bar */
.top-bar {
	border-bottom: 1px solid #ececec;
}
.top-bar-container {
	display: flex;
	align-items: center;
	height: 80px;
}

.top-bar-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	margin-right: 93px;
}

.top-bar-nav {
	display: flex;
}

.top-bar-nav-list {
	display: flex;
	gap: 50px;
}

.top-bar-nav-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.top-bar-link {
	padding: 32px 0;
}

.top-bar-contact-list {
	display: flex;
	gap: 50px;
	margin-left: auto;
}

.top-bar-contact-link {
	color: #757575;
}
/*endregion*/

/* region Banner */
.banner {
	background: #2f303a;
	padding: 200px 0;
	text-align: center;
}

.banner-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.banner-title {
	width: 700px;
	color: #fff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
}

.banner-btn {
	cursor: pointer;
	padding: 10px 32px;
	border: none;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	line-height: 1.9;
	letter-spacing: 0.06em;
	color: #fff;
}
/* endregion */

/* region Feature */
.feature {
	padding-bottom: 0;
}

.feature-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.feature-item {
	flex-basis: calc((100% - 30px * 3) / 4);
}

.feature-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.feature-description {
	color: #757575;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
/* endregion */

/* region Work */
.work-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.work-item {
	flex-basis: calc((100% - 30px * 2) / 3);
}

.work-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}
/* endregion */

/* region Team */
.team {
	background: #f5f4fa;
}

.team-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.team-item {
	flex-basis: calc((100% - 30px * 3) / 4);
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list .name {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
}

.team-list .prof {
	color: #757575;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
}

.team-wrapper {
	padding: 30px 0;
	text-align: center;
}
/* endregion */

/* region Portfolio */
.portfolio-filter-list {
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

.portfolio-filter-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
}

.portfolio-filter-btn {
	cursor: pointer;
	background: #f5f4fa;
	border-radius: 4px;
	padding: 6px 22px;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.03em;
	border: none;
	font-family: "Roboto";
}

.portfolio-filter-btn:hover {
	background-color: #2196f3;
	color: #fff;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-item {
	flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio-wrapper {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}

.portfolio-item-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
}

.portfolio-item-description {
	font-style: normal;
	font-size: 16px;
	line-height: 1.9;
	color: #757575;
}
/* endregion */

/* region Footer */
.footer {
	padding: 60px 0;
	background: #2f303a;
}

.footer-logo {
	margin-bottom: 20px;
	display: inline-block;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
}

.footer-contact-list {
	font-style: normal;
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.footer-contact-link {
	color: rgba(255, 255, 255, 0.6);
}

.footer-map-link {
	font-size: 14px;
	line-height: 1.7;
	color: #ffffff;
}
/* endregion */
